/* Base styles for all screen sizes */
.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

label {
  width: 100px;
  text-align: right;
  margin-right: 5px;
  margin-left: 5px;
}

.sublabel {
  color: rgb(113, 49, 49);
  margin: 4px;
  font-size: 11px;
}

input[type="text"],
input[type="date"] {
  padding: 10px;
  font-size: 14px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #c0a347;
  border: none;
  cursor: pointer;
}

input[type="date"] {
  position: relative;
}

input[type="date"]:before {
  content: attr(placeholder);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  color: rgba(0, 0, 0, 0.65);
  pointer-events: none;
  line-height: 1.5;
  padding: 10px 0.5rem 0 0.5rem;
}

input[type="date"]:focus:before,
input[type="date"]:not([value=""]):before {
  display: none;
}

.custom-bg {
  background-color: #f8f9f7;
  margin-top: -15rem;
  margin-left: 10rem;
  border-radius: 15px;
  box-shadow: 15px 15px 15px;
}

/* Media Queries for Responsive Design */

/* For screens with a maximum width of 768px */
@media only screen and (max-width: 768px) {
  .custom-bg {
    margin-top: 5rem;
    margin-left: 2rem;
  }
}

/* For screens with a maximum width of 480px */
@media only screen and (max-width: 480px) {
  .custom-bg {
    margin-top: 2rem;
    margin-left: 1rem;
  }

  label {
    width: 80px;
    text-align: right;
  }

  input[type="text"],
  input[type="date"] {
    font-size: 12px;
  }

  button[type="submit"] {
    padding: 8px 16px;
    margin-left:-8px;
  }
}
