.sri{
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    /* background: #8e9eab; 
    background: linear-gradient(to right, #eef2f3, #8e9eab);  */
    
  }
  
  .Vino{
    border-radius: 15px 15px 15px !important;
      background-color: rgb(255, 255, 255) !important;
      /* padding: 0px 60px; */
      border-radius: 15px 15px 15px ;
      border: 3px solid #ffffff !important;
      /* box-shadow: 15px 15px 15px ; */
     

  }
  
  .suhass{
      color: rgb(77, 1, 77);
      text-align: center;
      margin-top: 1rem;
      padding-right: 6rem;
    
  }
  
.vis{    
    border-radius: 25px 25px 25px !important;
    margin-left: 3rem;  
    width: 12rem;
      height: 50px;
      padding: 10px;
      border: none;
      background-color: rebeccapurple;
      color: white;
      border-radius: 5px;
      font-weight: bold;
      font-size: 18px;
      cursor: pointer;
      margin-top: 15px;
      margin-bottom: 30px;
  }