.read-or-hide{
    color: rgb(10, 9, 9);
    cursor: pointer;
}
/* .text{
    display: inline;
    width: 100%;
} */
.cpad{
    padding-top: 100px;
    text-align: center;
    font-weight: bolder;
    padding: 20px;  
}
.body{
   background-color: white;
}
